@model IEnumerable<EcommerceApp2259.Models.Product> 

<div style="width: 1000px; margin: 0 auto;">
    foreach(var item in Models) {
        <div style="margin: 10px auto; border: 1px solid #000;">
            <h3>item.ProductId</h3>
            <p>item.Title</p>
        </div>
    }
</div>