<!DOCTYPE html>
<html>

<head>
    <title>Electronix Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
    <link rel="stylesheet" type="text/css" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="~/js/app.js" defer></script>
</head>

<body>

<script>
const shoppingCart = (function () {
    let cartString = localStorage.getItem("cart");
    if (cartString == null) {
        localStorage.setItem("cart", "{}");
        return {}
    }
    return JSON.parse(cartString)
})();

const addProductToCart = ({ProductId, Title, ProductImage, OriginalPrice, Category, Brand}, count) => {
    if (count == null) {
        count = 1;
    }
    let existingItem = shoppingCart[ProductId];
    if (existingItem == null) {
        shoppingCart[ProductId] = {ProductId, Title, ProductImage, OriginalPrice, Category, Brand, count}
    } else {
        shoppingCart[ProductId].count += count;
    }
    if (shoppingCart[ProductId].Title !== Title) {
        shoppingCart[ProductId].Title = Title;
    }
    if (shoppingCart[ProductId].ProductImage !== ProductImage) {
        shoppingCart[ProductId].ProductImage = ProductImage;
    }
    if (shoppingCart[ProductId].OriginalPrice !== OriginalPrice) {
        shoppingCart[ProductId].OriginalPrice = OriginalPrice;
    }
    if (shoppingCart[ProductId].Category !== Category) {
        shoppingCart[ProductId].Category = Category;
    }
    if (shoppingCart[ProductId].Brand !== Brand) {
        shoppingCart[ProductId].Brand = Brand;
    }
    localStorage.setItem("cart", JSON.stringify(shoppingCart))
};
</script>

<div id="main_container">
    <partial name="Components/_Topbar" />
    <partial name="Components/_Headerbar" />
    @RenderBody()
    <partial name="Components/_Footer" />
</div>

</body>

</html>