<!DOCTYPE html>
<html>

<head>
    <title>Electronix Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
    <link rel="stylesheet" type="text/css" href="~/css/style.css"/>

    <script type="text/javascript" src="~/js/app.js" defer></script>
</head>

<body>
<div id="main_container">
    @await Html.PartialAsync("Components/_Topbar")
    @await Html.PartialAsync("Components/_Headerbar")
    @RenderBody()
    <!-- end of main content -->
    @await Html.PartialAsync("Components/_Footer")
</div>
</body>

</html>