<div class="footer">
    <div class="left_footer">
        <img src="~/css/images/footer_logo.png" width="170" height="49"/>
    </div>
    <div class="center_footer">
        Template name. All Rights Reserved 2008<br/>
        <a href="#">
            <img src="~/css/images/csscreme.jpg" alt="csscreme"/>
        </a><br/>
        <img src="~/css/images/payment.gif"/>
    </div>
    <div class="right_footer">
        <a href="#">home</a>
        <a
            href="#">
            about
        </a>
        <a
            href="#">
            sitemap
        </a>
        <a
            href="#">
            rss
        </a> <a href="contact.html">contact us</a>
    </div>
</div>

<!-- end of main_container -->
<div >
    This template downloaded form
    <a href='#'>
        free
        website templates
    </a>
</div>