<div class="top_bar">
    <div class="top_search">
        <div class="search_text">
            <a href="#">Advanced Search</a>
        </div>
        <input type="text" class="search_input" name="search" />
        <input type="image" src="~/css/images/search.gif" class="search_bt" />
    </div>
    <div class="languages">
        <div class="lang_text">Languages:</div>
        <a href="#" class="lang">
            <img src="~/css/images/en.gif" />
        </a> 
        <a href="#" class="lang">
            <img src="~/css/images/de.gif" />
        </a>
    </div>
</div>