@{
    var categories = ViewData["Categories"] as List<String>;
}
<div class="left_content">
    @if (categories != null)
    {
        <div class="title_box">Categories</div>
        <ul class="left_menu">
            @for (var i = 0; i < categories.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <li class="odd">
                        <a href="#">@categories[i]</a>
                    </li>
                }
                else
                {
                    <li class="even">
                        <a href="#">@categories[i]</a>
                    </li>
                }
            }
        </ul>
    }

    <div class="title_box">Special Products</div>
    <div class="border_box">
        <div class="product_title">
            <a href="~/details.html">Motorola 156 MX-VL</a>
        </div>
        <div class="product_img">
            <a href="~/details.html">
                <img src="~/images/laptop.png"/>
            </a>
        </div>
        <div class="prod_price">
            <span class="reduce">350$</span> <span class="price">270$</span>
        </div>
    </div>
    <div class="title_box">Newsletter</div>
    <div class="border_box">
        <input type="text" name="newsletter" class="newsletter_input" value="your email"/>
        <a href="#" class="join">join</a>
    </div>
    <div class="banner_adds">
        <a href="#">
            <img
                src="~/images/bann2.jpg"/>
        </a>
    </div>
</div>