@{
    List<String> manufacturers = ViewData["Manufacturers"] as List<String>;
}

@{
    bool isEven = false;
    string itemClass = "odd";

    if (manufacturers != null)
    {
        <div class="title_box">Manufacturers</div>
        <ul class="left_menu">
            @foreach (var manufacturer in manufacturers)
            {
                <li class="@itemClass">
                    <a href="#">@manufacturer</a>
                </li>
                isEven = !isEven;
                itemClass = isEven ? "even" : "odd";
            }
        </ul>
    }
}