<div id="menu_tab">
    <div class="left_menu_corner"></div>
    <ul class="menu">
        <li>
            <a class="nav1" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" class="nav2">Products</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" class="nav3">Specials</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" class="nav4">My account</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" class="nav4">Sign Up</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" class="nav5">Shipping</a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="nav6" asp-controller="ContactUs" asp-action="Index">Contact Me</a>
        </li>
        <li class="divider"></li>
        <li class="currencies">
            Currencies
            <select>
                <option>US Dollar</option>
                <option>Euro</option>
            </select>
        </li>
    </ul>
    <div class="right_menu_corner"></div>
</div>