

<div class="shopping_cart">
    <div class="cart_title">Shopping cart</div>
    <div class="cart_details">
        <p id="cart-item-count">0&nbsp;item</p>
        <br/>
        <span class="border_cart"></span>Total: <span class="price" id="cart-total-price">0$</span>
    </div>
    <div class="cart_icon">
        <a asp-controller="Customer" asp-action="Cart">
            <img src="~/css/images/shoppingcart.png" width="48" height="48" alt=""/>
        </a>
    </div>
</div>

<script type="text/javascript">
const itemCountDisplayElement = document.getElementById("cart-item-count");
const totalPriceDisplayElement = document.getElementById("cart-total-price");

const refreshShoppingCart = () => {
    let totalPrice = 0;
    let totalItemsCount = 0;

    for (let itemId of Object.keys(shoppingCart)) {
        
        // console.log(shoppingCart[itemId]);
        totalPrice += shoppingCart[itemId].count * shoppingCart[itemId].OriginalPrice;
        totalItemsCount += shoppingCart[itemId].count;
    }
    itemCountDisplayElement.innerText = totalItemsCount + (totalItemsCount > 1 ? ' items' : ' item');
    totalPriceDisplayElement.innerText = `${totalPrice}$`
};

function addItem(json) {
    console.log(json);
    addProductToCart(JSON.parse(json), 1);
    refreshShoppingCart();
}

refreshShoppingCart();

</script>