@model IEnumerable<EcommerceApp2259.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var product in Model) {
            <li>
                <a asp-action="ProductDetail" asp-route-productId="@product.ProductId">@Html.DisplayFor(m => product.Name): @product.Name</a>
            </li>
            }
    </ul>
</div>
