@model List<EcommerceApp2259.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
    ViewData["ItemsPerRow"] ??= 3;
}

<div class="container">
    @await Html.PartialAsync("Components/ProductsFilter")
</div>