@model List<EcommerceApp2259.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
    ViewData["ItemsPerRow"] ??= 3;
}

<div class="text-center">
    <h1>Items count: @Model.Count</h1>
    <div class="container">
        @await Html.PartialAsync("Components/ProductsShowcase", Model)
    </div>
</div>