@model IEnumerable<EcommerceApp2259.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var product in Model) {
            <li>@Html.DisplayNameFor(modelItem => product.Name): @product.Name</li>
            }
    </ul>
</div>
