<div class="center_title_bar">Sign up/Sign in</div>

<div class="prod_box_big">
    <div class="top_prod_box_big"></div>

    <div class="center_prod_box_big">
        <h1>Hello</h1>
    </div>
    <div class="bottom_prod_box_big"></div>
</div>