@model List<EcommerceApp2259.Models.Product>;

@{
    var headline = ViewData["HeadLine"];
    var recommendedProducts = ViewData["RecommendedProducts"] as List<EcommerceApp2259.Models.Product>;
}

<div class="center_title_bar">@(headline ?? "Latest products.")</div>
@if (Model != null && Model.Count > 0)
{
    foreach (var product in Model)
    {
        @await Html.PartialAsync("Components/ProductBox", product)
    }
}
else
{
    <h3>No products found!</h3>
}

@if (recommendedProducts != null && recommendedProducts.Count > 0)
{
    <div class="center_title_bar">Recommended Products</div>
    foreach (var product in recommendedProducts)
    {
        @await Html.PartialAsync("ProductBox", product)
        ;
    }
}