
<div id="main_content">
    <partial name="Components/NavigationBar" />
    <!-- end of menu tab -->
    <div class="crumb_navigation">Navigation: Cart</div>
    <partial name="Components/CategoriesDisplay" />
    <!-- end of left content -->
    <div class="center_content">
        <partial name="Components/CartShowcase" />
    </div>
    <!-- end of center content -->
    <partial name="Components/RightContent" />
</div>