<div id="main_content">
    @await Html.PartialAsync("Components/NavigationBar")
    <!-- end of menu tab -->
    <div class="crumb_navigation">Navigation: Sign In</div>
    @await Html.PartialAsync("Components/CategoriesDisplay")
    <!-- end of left content -->
    <div class="center_content">
        @await Html.PartialAsync("Components/SignInForm.cshtml")
    </div>
    <!-- end of center content -->
    @await Html.PartialAsync("Components/RightContent")
</div>